 
<div class="container">
    
    <p class="mt-4">Employee Data will be populated on click of "<strong>Show Employee</strong>" button</p>
    <button  class="btn btn-primary mt-2 mb-4" (click)="getEmployees()" >{{btnName}}</button>
    <div *ngIf="flgnoData"    >

        <h2 class="title mb-3">Employee Details</h2>
        
        <table class="table table-bordered" >
        <thead>
          <tr>
            <th>Emp id</th>
            <th>Firsrt Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Age</th>
            <th>Date Of Joining</th>
             
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let list of listEmpData; let i=index">
            
            <td>{{list['empid']}}</td>
            <td>{{list['fname']}}</td>
            <td>{{list['lname']}}</td>
            <td>{{list['gender']}}</td>
            <td>{{list['email']}}</td>
            <td>{{list['age']}}</td>
            <td>{{list['doj']}}</td>
             
          </tr>
       
        </tbody>
      </table>
       
      </div>
</div>






 <router-outlet></router-outlet>
