<div class="container">

  <h1>Employee Details</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Employee Name</th>
      <th>Employee Salary</th>
      <th>Employee Age</th>
      <th>Profile Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let webapi of Webapis?.data">
      <td>{{webapi.id}}</td>
      <td>{{webapi.employee_name}}</td>
      <td>{{webapi.employee_salary}}</td>
      <td>{{webapi.employee_age}}</td>
      <td>{{webapi.profile_image}}</td>
    </tr>
  </tbody>
</table>
 
</div>